.container{
    position: relative;
}

.invoice-box {
    box-sizing: border-box;
    overflow-y: scroll;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    height: calc(100vh - 132px);

}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(1) {
    // width: 180px;
    word-wrap: break-word;
}

.invoice-box table tr td:nth-child(3), .invoice-box table tr td:nth-child(4) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 10px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr .total {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

.wrapper-button {
    position: absolute;
    width: 100%;
    bottom: -62px;
    left: 0;
    z-index: 999;
}

.wrapper-button button {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    color: ghostwhite;
    background-color: darkslategray;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: black !important;
}

::ng-deep .mat-form-field-label {
    color: black !important;
}
  
::ng-deep.mat-form-field-underline {
    background-color: black !important;
} 
  
::ng-deep.mat-form-field-ripple {
   background-color: black !important;;
}

::ng-deep.mat-input-element {
    color: black!important;
}


::-webkit-scrollbar {
    display: none;
}

.show{
    display: block;
}
.hidden{
    display: none;
}

