<mat-sidenav-container color="white" style="background-color: white">
    <mat-sidenav style="width:25%; background-color: darkslategray;" mode="push" [(opened)]="isOnpened">
        <div style="height: 40vh; border-bottom: 1px solid white;">

        </div>
        <div>
            <ul>
                <li *ngIf = "role !== 'Employee'">
                    <div (click)="goClassificationPage()">Thống Kê</div>
                </li>
                <li>
                    Chuyển Tài Khoản
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100vh;">
        <app-header-dashboard (openSideNav)="isOnpened = $event" (openPreBooking)="openDialog($event)"></app-header-dashboard>
        <div class="wrapper-title">
            <div class="title">
                Tầng 1
            </div>
            <div class="title">
                Tầng 2
            </div>
            <div class="title">
                Tầng 3
            </div>
        </div>
        <div class="container">
            <div class="floor">
                <div *ngFor="let room of roomsFloor1">
                    <app-room class="card-item" (click)="navigate(room)" [room]="room"></app-room>
                </div>
            </div>
            <div class="floor">
                <div *ngFor="let room of roomsFloor2">
                    <app-room class="card-item" (click)="navigate(room)" [room]="room"></app-room>
                </div>
            </div>
            <div class="floor">
                <div *ngFor="let room of roomsFloor3">
                    <app-room class="card-item" (click)="navigate(room)" [room]="room"></app-room>
                </div>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
<div *ngIf="showSpinner" class="wrapper-spinner">
        <mat-spinner></mat-spinner>
</div>
