.title {
    padding: 25px;
    background-color: rgba($color: aqua, $alpha: 0.5) ;
    color: black;
    font-size: 24px;
    font-weight: bolder;
    box-shadow: 1px 1px 15px black;
    text-align: center;
}